@import url(http://reset5.googlecode.com/hg/reset.min.css);

@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=VT323);

html {
	min-width: 1000px;
	font-family: 'Open Sans', sans-serif;
	color: #222;
	height: 100%;
}

body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

h1 {
	font-family: 'Droid Serif', serif;
	font-size: 18px;
	text-align: center;
	padding: 10px 0 0 0;
}

h2 {
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	text-align: center;
	padding: 0 0 10px 0;
}

h3 {
	border-bottom: 1px solid #ccc;
	padding: 3px 0;
	text-align: center;
}

hr {
	margin: 0;
}

#options {
	padding: 10px 0 10px 0;
	text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
}

#transcript blockquote blockquote {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 16px;
	margin: 0 0 0 20px;
}

#transcript * {
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

a {
	text-decoration: none;
	color: Steelblue;
}

a:hover {
	text-decoration: underline;
	color: #23415A;
}

#left {
    border-right: 3px double #ccc;
	border-bottom: 1px solid #ccc;
	border-bottom-right-radius: 7px;
	float: left;
	min-width: 310px;
    width:30%
}



/*Controls*/
#player {
    display: block;
	margin: 0 auto;
}

#manualControls {
	border: 1px solid #ccc;
	border-radius: 7px;
	text-align: center;
	width: 300px;
	margin: 0 auto;
}

#manualInput {
	background: #eee;
	border-top: 1px solid #ccc;
	padding: 5px;
}

#manualControls  button,
#manualControls input{
	display: inline;

}



.playOptions {
	border: 1px solid #ccc;
	border-radius: 7px;
	width: 300px;
	margin: 10px auto;
}

#autoplay {
	width: 200px;
}

.auto-option {
	background: whitesmoke;
	border-bottom: 1px solid #ccc;
	padding: 3px 12px;
}

.auto-option:hover {
	background: yellow;
}

.auto-selected {
	background: #D8DFE6;
	font-weight: 700;
}

#track #trackCheckbox {
	float: left
}

#track  span{
	display: block;
	margin: 4px 0 0 21px;
}

#track {
	font-size: 12px;
	padding: 5px;
}

#keyword {

}

#shareTextbox {
	width: 272px;
	margin: 10px;
}


#officialInfo {
	padding: 10px 0 0 40px;
}

#officialInfo li {
	list-style-image:url('../images/uhmark-red.png');
	padding: 0px 0 5px 0px;
	font-size: 13px;
}

#officialInfo li * {
	vertical-align: top;
	line-height: 18px;
}

.hidden {
	display: none;
}

#message  p{
	color: red;
	font-family: 'VT323', sans-serif;
	float: right;
}

.mainViewArea {
    float: right;
    width: 68%;
	
	overflow:auto;
	padding-bottom: 100px;
}

/*Transcript*/
#transcript {

}


/*Help section*/

.helpSection {
	margin: 0 0 0 10px;
	padding: 3px 0;
}

#helpHeader {

}




footer {
	position: relative;
	margin-top: -100px;
	text-align: right;
	width: 100%;
	clear: both;
	height: 100px;

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #CCCCCC));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #CCCCCC 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #CCCCCC 100%);
}